<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>
    <!--<import resource="classpath:auth-config.xml"/>-->
    <!--平台数据服务接口-->
    <bean id="authDlg" class="com.etong.auth.config.AuthDlg" init-method="init">
        <property name="authData" ref="authData"/>
    </bean>

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="auth-config-app"/>

    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://zookeeper.com:5181" file="./registry.file"/>

    <dubbo:reference id="authData" interface="com.etong.data.auth.service.AuthData"/>
</beans>